{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Modifier</title>
	<link rel="stylesheet" type="text/css" href="{% static 'automated_harvesting/css/actions.css' %}">
	<link rel="icon" href="{% static 'automated_harvesting/img/favicon.ico' %}">
</head>
<body>
    <div class="container">
        <h1>Modifier : {{ model_name }}</h1>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Save</button>
        </form>
    </div>
</body>
</html>
