{% extends 'model_views/list_models.html' %}

{% load static %}
{% load custom_filters %}


{% block model %}
    <h2>{{ verbose_name }}</h2>
    <table class="styled-table">
        <thead>
            <tr>
                <th>ID</th>
                {% for field in objects.first|get_attributes %}
                    <th>{{ field }}</th>
                {% endfor %}
                <th class="actions">Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for obj in objects %}
                <tr>
                    <td>{{ obj.id }}</td>
                    {% for field in objects.first|get_attributes %}
                        <td>{{ obj|get_field_value:field }}</td>
                    {% endfor %}
                    <td class="actions">
                        <div class="actions-container">
                            <a href="{% url 'modify_record' model_name obj.id %}" class="icon-link"><i class="fas fa-edit"></i></a>
                            <a href="{% url 'delete_record' model_name obj.id %}" class="icon-link"><i class="fas fa-trash-alt"></i></a>
                        </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    <div class="action-add">
        <a href="{% url 'add_record' model_name %}">
            <i class="fas fa-plus"></i> Ajouter une donnée
        </a>
    </div>
{% endblock %}